.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product_name {
  color: green
}

#prod_name_header{
  color: red
}

.product_info {
  background-color: gray;
}

/* .vendor-show-div {
    background-color: green;
    display: block !important;
    height: 100% !important;
    left: 0px !important;
    position: absolute !important;
    top: 0px !important;
    width: 100% !important;
    border-radius: 12px !important;
} */